/* Pager.css */
.pagination-buttons-fixed {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .pagination-buttons-fixed button {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 1rem;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-buttons-fixed button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  