/* Pokemon.css */
@font-face {
    font-family: 'PokemonFont';
    src: url('../public/fonts/Pokemon Hollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.App-header, .pokemon-list, .pokemon-item p {
    font-family: 'PokemonFont', sans-serif;
}

/* Styles de la liste des Pokémon */
.pokemon-list {
    list-style-type: none; /* Enlever les puces */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne les items à gauche */
}

.pokemon-item {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement au centre */
    margin: 10px 0; /* Espacement entre les items */
}

.pokemon-item img {
    margin-right: 10px; /* Espace entre l'image et le texte */
    width: 100px; /* Augmente la taille de l'icône */
    height: 100px;
}

.pokemon-item p {
    font-size: 1.5rem; /* Augmente la taille du texte */
    color: #fff; /* Couleur qui rappelle le style Pokémon */
    margin: 0;
}
